<div id="footer">
<a href="http://validator.w3.org/check?uri=referer">
<img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Transitional"
height="31" width="88" />
</a>

<a href="http://jigsaw.w3.org/css-validator/check/referer">
<img src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS is valid!"
height="31" width="88" />
</a>

<a href="http://www.gnu.org/licenses/gpl-3.0.html">
<img src="http://www.gnu.org/graphics/gplv3-88x31.png" alt="GPLv3"
height="31" width="88" />
</a>

by <a href="http://www.jaruhl.de">Ruhland Matthias</a>
</div>
