﻿/*@CHARSET "UTF-8";*/

/**
  @file   styles/design.css
  @author Ruhland Matthias

  @brief  This Stylesheet should hold only the design-rules
*/

/*
 The formular of the Guestbook
 */
#guest form {
    margin-top: 4em;
    max-width: 45em;
}

#guest label {
    display: block;
    width: 5.5em;
    float: left;
}

/*
 The footer at the bottom of the Page.
 It contains the images of the W3C
 */
#footer a {
    text-decoration: none;
    color: black;
}

#footer {
    margin-top: 2em;
}

/*
 The Admin-Pages
 */
#admin form {
    margin-top: 4em;
    max-width: 31em;
}

#admin label {
    display: block;
    width: 9em;
    float: left;
}

#admin tr:hover {
    background-color: #ABC5FF;
}

#menu li {
    list-style-type: none;
    padding-left: 0;
    float: left;
}